version: 2.1
jobs:
  RUN APP:
    docker:
      - image: circleci/python:3.7.4
    steps:
      - checkout
      - run:
          name: Installing python dependencies 
          command: |
            sudo pip install --upgrade pip
            sudo pip install -r ./src/requirements.txt 
      - run: 
          name: Run application 
          command: | 
            sudo python ./src/server.py
  TEST APP:
    docker:
      - image: circleci/python:3.7.4
    steps:
      - checkout      
      - run:
          name: Testing
          command: |
            sudo pip install --upgrade pip
            sudo pip install -r requirements.txt 
            sudo python ./test/connec_test.py
            sudo python ./test/unit_test.py 
            sudo python ./test/api_test.py
workflows:
  Build and test:
    jobs:
      - RUN APP
      - TEST APP 
     
